<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Suppliers</title>
  </head>
  <body>
    <h1 align="center">Welcome to suppliers page</h1>
    <div class="container">
      <table class="table table-bordered">
   <thead class="thead-dark">
     <tr>
       <th scope="col">Number</th>
       <th scope="col">Supplier Name</th>
       <th scope="col">Product Name</th>
       <th scope="col">Product Price(In USD)</th>
       <th scope="col">Quantity</th>
     </tr>
   </thead>
   <tbody>
     <% suppliers.forEach((supplier,index)=>{ %>
       <tr>
         <th scope="row"><%= index+1%> </th>
         <td><%= supplier.name %></td>
         <td><%= supplier.product %></td>
         <td><%= supplier.price %></td>
         <td><%= supplier.quantity %></td>
       </tr>

     <% }) %>

   </tbody>
 </table>

    </div>
  </body>
</html>
